<section class="show-post">
<h1><%= @post.title %></h1>

<%= simple_format @post.body %>
<p>Posted by <%= @post.author_name %></p>

<div class="post__actions">
  <ul>
    <li><%= link_to "Edit", edit_post_path(@post) %></li>
    <li><%= link_to "Delete", post_path(@post), method: :delete, :data => { :confirm => "Are you sure?" } %></li>
  </ul>
</div>
</section>

<section class="show-post__comments">
  <h3>Comments</h3>
  <!-- For each item in the comments array call it comment -->
  <% @post.comments.each do |comment| %>
    <%= simple_format comment.body %>
    <p><%= author_of %></p>
  <% end %>
</section>
